name: Scheduled build
on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  release:
    runs-on: ubuntu-latest
    environment: base
    env:
      STORAGE_URL: ${{ secrets.STORAGE_URL }}
    steps:
      - name: SetBuildEnv
        run: echo ${{ env.STORAGE_URL }}
      - name: Clone project
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: clean npm cache
        run: npm cache clean -f
      - name: install dependencies
        run: npm ci
      - name: compile
        run: bash build.sh
      - name: Commit build
        run: |
          git config --global user.name 'Paul Sauer'
          git config --global user.email 'prsauer@users.noreply.github.com'
          git commit -am "autobuild"
          git push
          git tag "$(date '+%Y.%m.%d')"
          git push origin "$(date '+%Y.%m.%d')"
